
[Unit]
Description=uWSGI SmartJump API
After=syslog.target

[Service]
ExecStart=/usr/local/bin/uwsgi --ini /home/smartjump/smartjump-app/app/smartjump-api.ini --pythonpath /home/smartjump/smartjump-app/app/
User=smartjump
Restart=always
KillSignal=SIGKILL
Type=notify
StandardError=syslog
NotifyAccess=all

[Install]
WantedBy=multi-user.target

